
html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;

}

h3 {
    font-family: var(--sans);
}

li {
    list-style-type: none;
    font-family: var(--serif);
}

a {
    color: var(--hara-kok);
    text-decoration: none;
}